* {
    font-family: 'Frank Ruhl Libre', sans-serif;
}

body {
    background: #37B9E9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #1BBCB1, #37B9E9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #1BBCB1, #37B9E9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #1BBCB1, #37B9E9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #1BBCB1, #37B9E9); /* Standard syntax */
    height: 770px;
}

.outer-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: inline-block;
    width: 30%;
    max-width: 350px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    padding: 15px 30px 30px 30px;
    margin: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

hr {
    margin: 10px 0px 20px 0px;
}

.submit {
    margin-top: 15px;
}

.images {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 60%;
    max-width: 705px;
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    padding: 15px;
}

img {
    width: 200px;
    margin: 11px;
    display: inline-block;
}

.alert-success {
    margin-bottom: 0px;
    margin-top: 20px;
}

