@{
    ViewData["Title"] = "Demo Page";
}

<div class="outer-container">    
    <div class="container">
        <h1>Upload Image Here</h1>
        <hr>

        <div class="upload_image" class="custon-file">
            <form asp-action="UploadPhoto"
                asp-controller="Home"
                method="post"
                enctype="multipart/form-data">

                <label class="custom-file">
                    <input type="file" name="Images" id="file" class="custom-file-input" multiple>
                    <span class="custom-file-control"></span>
                </label>
                
                <input type="submit" value="Upload Selected Files" class="btn btn-default btn-block submit">
            </form>
        </div>

        @{
            if(@ViewBag.Success != null) {
                <h6 class="success_message alert alert-success">@ViewBag.Success</h6>
            }
        }

    </div>


    <!--<img src="~/images/Uploaded/IMG_0004.jpg">-->

    <div class="images">
        @foreach(var file in @ViewBag.files) {
            <img src="~/images/Uploaded/@file">
        }
    </div>

</div>

<script type="text/javascript">
    $(function() {

        $(".success_message").delay(1000).fadeOut("slow");
    });

</script>